@import url('https://fonts.googleapis.com/css2?family=Domine&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #2D3142;
    --secondary-color: #4F5D75;
    --tertiary-color: #BFC0C0;
    --background-color: #FFFFFF;
    --accent-color: #EF8354;
}

#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    line-height: 1.5;
    background-color: var(--background-color);
    width: 100%;
    min-height: 100vh;
}

h1, h2, h3, strong {
    margin-top: 1em;
    padding-top: 1em;
    color: var(--primary-color);
}

p {
    margin-top: 0.5em;
    color: #333;
}

a {
    color: var(--accent-color);
}